body {
  background-color: black;
  color: white;
}

h1 {
  font-size: 40px;
  text-align: center;
  display: block;
  align-self: center;
  margin-bottom: 60px;
}

.flags {
  height: 30px;
  width: 30px;
  display: inline;
  margin: 0px 6px;
}

.dropdown-menu {
  background-color: rgb(60,60,60);
  color: white;
  padding: 0px;
}

.dropdown-item {
  background-color: rgb(60,60,60);
  color: white;
  padding: 0px;
  margin: 0px;
}

img {
  height: 300px;
  width: 300px;
  display: block;
  margin: 0px 10px;
  margin: 0 auto;
}

#myClock {
  font-family: "Courier New", monospace;
  box-shadow: ghostwhite;
  box-sizing: 60px;
  border-radius: 7px;
  /*border: 2px solid white;*/
  padding: 10px 0px;
}

h6 {
  direction: ltr;
  align-items: end;
  width: 100%;
  /*margin-bottom: 80px;*/
  margin-top: 0px;
}


div {
  width: 100%;
  margin: 40px 0px;
  /*border: 2px dotted gray;*/
  border-radius: 7px;
  margin: 0 auto;
  text-align: center;
}

.input-group {
  width: 100%;
  margin: 40px 0px;
  /*border: 2px dotted gray;*/
  border-radius: 7px;
  margin: 0 auto;
  text-align: center;
}

#colorDiv {
  width: 100%;
  text-align: center;
  margin: 0 auto;
}

h2 {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 30px;
  font-family: "Times New Roman", serif;
}

#myTimer {
  font-family: "Times New Roman", serif;
  border-radius: 7px;
  
  /*padding: 10px 0px;*/
}

img {
  width: 130px;
  height: 130px;
}

.imgButton {
  padding: 0px;
  background: black;
}

h5 {
  align-self: center;
  text-align: center;
  font-family: "Courier New", monospace;
  box-shadow: ghostwhite;
}

textarea {
  display: block;
  border-radius: 7px;
  margin: 0 auto;
  text-align: center;
  width: 80%;
  border: 2px solid black;
  background-color: white;
}

#myarea {
  display: block;
  border-radius: 7px;
  margin: 0 auto;
  text-align: center;
  width: 90%;
  border: 2px solid black;
  background-color: rgb(20,20,35);
  color: white;
  height: 450px;
}

#notebookTitle {
  font-family: "Times New Roman", serif;
  border-radius: 7px;
  background-color: rgb(20,20,35);
  color: white;
}

button {
  border-radius: 7px;
  /*font-family: "Courier New", monospace;*/
  background-color: green;
  font-size: 15px;
  color: white;
  /*width: 100px;*/
  padding: 8px 15px;
  margin: 0px 10px;
}



.btn {
  padding: 5px 10px;
  margin: 5px 5px;
  width: 60%;
  display: block;
  margin: 0 auto;
  text-align: center;
}


.btns {
  padding: 5px 2px;
  margin: 10px 5px;
  width: 40%;
  display: inline;
  margin: 0 auto;
  text-align: center;
}

/*
.btn btn-outline-secondary {
  padding: 3px 5px;
  margin: 2px 2px;
  width: 20%;
}*/

#noteHeader {
  background-color: rgb(20,20,35);
}

#exit {
  color: white;
  background-color: white;
}

#todoBtn {
  border-radius: 7px;
  font-family: "Courier New", monospace;
  background-color: gray;
  font-size: 15px;
  color: white;
  width: 50%;
  padding: 8px 15px;
  margin: 0px 10px;
  /*border: 3px solid white;*/
}


label {
  display: block;
  margin: 5px 10px:
}

.form-input {
  width: 70%;
  margin: 10px 0px;
  padding: 7px 0px;
  display: block;
  border-radius: 7px;
  margin: 0 auto;
}

#amount {
  background-color: rgb(220,220,220);
  border-radius: 2px;
  width: 60%;
  margin: 10px 0px;
  
}

a.disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.3;
}

#horizontal {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  scroll-behavior: smooth;
  padding: 10px;
  white-space: nowrap;
}

.item {
  flex: 0 0 auto;
  height: 200px;
  width: 400px;
}

#repositories {
  display: flex;
  overflow-x: auto;
  gap: 10px;
  scroll-behavior: smooth;
  white-space: nowrap;
}

.repo {
  flex: 0 0 auto;
  width: 400px;
  height: 300px;
}






